body {
  font-family: "Open Sans", arial, helvetica, sans-serif;
  color: #666;
  line-height: 1.7;
}

main {
  width: 65%;
  margin-left: 35%;
  padding: 124px 54px 72px;
  box-sizing: border-box;
}
a {
  transition: color 0.2s linear, border 0.2s linear;
  text-decoration: none;
  border-bottom: 1px dotted;
  color: #49bf9d;
}

p {
  margin: 0 0 2em;
}

img {
  max-width: 100%;
}

a:hover {
  border-bottom-color: transparent;
}

article a {
  font-size: 25px;
}

h1,
h2,
h3,
h4 {
  color: #787878;
  font-weight: normal;
  margin: 0 0 1em;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
